:root {
  /*light to deep*/
  --one: #DAFDBA;
  --two: #9AEBA3;
  --three: #45C4B0;
  --four: #13678A;
  --five: #012030;

  /*gradient*/
  /* background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

  background-color: var(--one);
}

#satya {
  background-color: var(--four);
}
#abhi {
  background-color: var(--five);
}
#arpi {
  background-color: var(--three);
}
#satya:hover {
  background-color: var(--two);
}
#abhi:hover {
  background-color: var(--two);
}
#arpi:hover {
  background-color: var(--two);
}

.box-container {
  /*three magical word*/
  display: flex;
  align-items: center; /*unless child box has "height", align-item won,t be visible*/
  justify-content: space-evenly;

  flex-wrap: wrap; /*make responsive*/
  height: 600px;
  width: 100%;
}

.box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  color: var(--one); /*text color*/
  
  box-shadow: 5px 5px black;
  overflow: auto; /*scroll bar comes if overflow*/
}
.box:hover {
  /* background-color: var(--one); */ /*the background color of "id" is over-riding it*/
  transform: scale(1.2); /*1.5 means 50%. scale the box up. ranges from 1-2*/
  transition: 0.3s; /*smooth transition of 0.3 second*/
}

